{{ define "main" }}

<!--  {{ partial "page-title.html" . }}-->
<style>
  p {
    margin: 0
  }

  .people-wrap {
    display: inline-flex;
    margin-top: 10px;
  }

  .people-image {
    display: block;
    border-radius: 50%;
    /* remove gap*/
  }

  .people {
    margin-left: 20px;
    margin-right: 20px;
  }

  .name {
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    margin-top: 2rem;
  }

  .content img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
  }

  p { margin-bottom: 1em; }

  body p:last-child { margin-bottom: 0em; }

  img.skills{
    height: 80px;
  }

  @media only screen and (min-width: 960px) {
    .content img{max-width:60vw; max-height:60vh}

  .content img{
      max-width:60vw;
      max-height:60vh
  }
  }
  .content{
      width: 90vw;
      max-width: 1200px
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

</style>


<section>
  <div class="uk-container uk-margin-large-bottom uk-margin-medium-top">
    <h1 class="uk-text-center uk-heading-medium">{{.Title}}</h1>
    <p class="uk-text-center uk-text-lead">{{.Params.description}}</p>
    {{if isset .Params "date"}}
      <p class="uk-text-center">Published on {{ .PublishDate.Format "Jan 02, 2006" }}</p>
    {{end}}

    {{if isset .Params "coders"}}

    <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-text-center uk-flex-center uk-grid-large uk-margin-small-top" uk-grid>
      {{if ( gt (len .Params.coders ) 0)}}
      <div>
        <button class="uk-button uk-button-default" type="button"> <span uk-icon="icon: users"></span> Team
          Project</button>
        <div class="uk-width-auto" uk-dropdown="pos: bottom-center; delay-hide:400">
          <div class="uk-dropdown-grid uk-child-width-1-2" uk-grid>
            <div>
              <ul class="uk-nav uk-dropdown-nav">
                {{ range .Params.coders }}
                <li><a href="https://github.com/{{.}}"> <img src="https://github.com/{{.}}.png" alt="Smiley face"
                      width="42" height="42" style="border-radius: 50%"> {{.}}</a></li>
                {{end}}
              </ul>
            </div>

          </div>
        </div>
      </div>
      {{end}}

    {{if isset .Params "site"}}
    {{if ne .Params.site ""}}
      <div>
        <a class="uk-button uk-button-default" href="{{.Params.site}}"> <span uk-icon="icon: world"></span>
          Website</a>
      </div>
    {{end}}
    {{end}}



      <div>
        {{if ( gt (len .Params.github ) 1)}}
        <div>
          <button class="uk-button uk-button-default" type="button"> <span uk-icon="icon: github"></span> GitHub</button>
          <div class="uk-width-auto" uk-dropdown="pos: bottom-center; delay-hide:400">
            <div class="uk-dropdown-grid uk-child-width-1-2" uk-grid>
              <div>
                <ul class="uk-nav uk-dropdown-nav">
                  {{ range .Params.github }}
                  <li><a style="color: #0366d6; font-weight: 600" href="{{.}}"> <span><img loading="lazy" src="https://res.cloudinary.com/samrobbins/image/upload/v1593092912/repo_ec3slk.svg"></span>  {{index (last 1 (split . "/")) 0}}</a></li>
                  {{end}}
                </ul>
              </div>

            </div>
          </div>
        </div>
        {{else if ( gt (len .Params.github ) 0)}}
        <a class="uk-button uk-button-default" href="{{index (.Params.github) 0}}"> <span uk-icon="icon: github"></span>
          Github</a>
        {{end}}
      </div>
    </div>
    {{end}}

    <hr class="full-width">
    {{if isset .Params "tech"}}
    {{if (gt (len .Params.tech) 0)}}
    <h2 class="uk-text-center uk-heading-small">Built with</h2>

    <section >
      <div class="uk-container">

        <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
             uk-grid>
          {{ range .Params.tech }}
          <div class="imagemargin">
            <a href="{{.url}}">
            <img class="contain skills" src="{{.logo}}" alt="{{.name}}" loading="lazy" style="cursor: pointer">
            </a>
          </div>
          {{ end }}
        </div>

      </div>

    </section>

    <hr class="full-width">
    {{end}}
    {{end}}

    <div class="content">
      {{.Content }}
    </div>
  </div>
  </div>
</section>


{{end}}
